.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  display: flex; /* make container flex */
  justify-content: center; /* make item of the container center horizontaly */
  align-items: center; /* make item of the container center verticaly */
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}